---
import { getCollection, type CollectionEntry} from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import type { GetStaticPaths, Page } from 'astro';
import CloudinaryImage from "@components/ui/cloudinaryImage.astro";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

export const getStaticPaths:GetStaticPaths=async({paginate}) =>{
    const publishedWorks = await getCollection("portfolio", ({ data }) => {
        // check if is dev mode
        if (import.meta.env.DEV) {
            return true;
        }
        return !data.draft && data.publishDate < new Date();
    });
    publishedWorks.sort(function (a, b) {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });
    return paginate(publishedWorks, {pageSize:4});
}
type Props = {
  jobs: Page<CollectionEntry<'portfolio'>>;
  page: Page<CollectionEntry<'portfolio'>>;
};
const { page:jobs } = Astro.props;
const privateJobs=jobs.data.filter(job=>job.data.category==='Private Site');
// const otherJobs=jobs.data.filter(job=>job.data.category!=='Private Site'); 
const langToTranslate = getLangFromUrl(Astro.url)==="en"?"es":"en";
const {translatePath} = useTranslatedPath(langToTranslate);
const translateActualPath=translatePath('portfolio',langToTranslate);
---
<Layout title="Portfolio" translateActualPath={translateActualPath}>
    <Container>
        <Sectionhead>
            <Fragment slot="title">My Portfolio</Fragment>
            <Fragment slot="desc">
                A list of my latest works and projects.
            </Fragment>
        </Sectionhead>
        <main class="mt-16">
            <h2 class=" text-5xl ">
                Private Sites
            </h2>
            <ul class="grid gap-8 grid-rows-2 grid-flow-col max-w-4xl place-content-center">
                {
                    privateJobs.map((job, index) => (
                    <li class:list={
                        [
                            'place-content-center',
                            {
                                "row-span-3":index===0
                            }
                        ]
                    }>
                        <article>
                            <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                                <CloudinaryImage
                                src={`jobs/${job.data.image.src}`}
                                
                                alt={job.data.image.alt}
                                aspectRatio="1"
                                loading={index <= 2 ? "eager" : "lazy"}
                                decoding={index <= 2 ? "sync" : "async"}
                                transition:name=`${job.id} img`
                                class="w-full rounded-md object-cover object-center bg-white aspect-square"
                                />
                                <div>
                                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium"
                                    transition:name=`${job.id} category`
                                    >
                                    {job.data.category}
                                </span>
                                <a href={`/portfolio/${job.slug}`}>
                                <h2 class:list={[
                                    "text-3xl font-semibold mt-1",{
                                    [job.data.classesClient??'']:!!job.data.classesClient
                                    }]
                                    }
                                    transition:name=`${job.id} title`
                                >
                                {job.data.client}
                            </h2>
                            <h3 class="text-2xl font-semibold mt-1"
                            class:list={
                                ["text-2xl font-semibold mt-1",{
                                    [job.data.classes??'']:!!job.data.classes
                                }]
                                
                            }
                                transition:name=`${job.id} title`
                                >
                                {job.data.project}
                            </h3>
                        </a>   
                            <div class="flex gap-2 mt-3"
                            transition:name=`${job.id} meta`>
                            <span class="text-gray-400">• </span>
                            <time
                            class="text-gray-400"
                            datetime={job.data.publishDate.toISOString()}>
                            {job.data.publishDate.toDateString()}
                        </time>
                        

                    </div>
                    <p class="text-slate-500 text-ellipsis overflow-hidden h-20">
                        {job.data.resume}
                    </p>
                    
                </div>
            </div>
        </article>
    </li>
    ))
}
</ul>
</main>
</Container>
</Layout>
