---
import { type CollectionEntry } from 'astro:content'
import Note from '@components/Note.astro'
import { getPublishedNotes, PAGINATION_SIZE } from '@helpers/collections'
import Base from '@templates/Base.astro'
import type { GetStaticPaths, Page } from 'astro'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const publishedNotesEntries = await getPublishedNotes('es')

  return paginate(publishedNotesEntries, {
    pageSize: PAGINATION_SIZE,
  })
}
interface Props {
  page: Page<CollectionEntry<'notas'>>
}
const { page } = Astro.props
---
<Base title='Archive Page' pathToTranslate="notebook">
<h1>Archive Notes </h1>
<p>page {page.currentPage} of {page.lastPage}</p>

<ul class="page-list">
  {page.data.map(note=>{
    return <li>
      <Note note={note} />
    </li>
  })}
</ul>
<footer class="content-grid">
  <div class="prev-next">
    {page.currentPage > 1 && (
      <a href={page.url.prev} rel="prev">
        ← Previous Page
      </a>
    )}
    {page.currentPage < page.lastPage && (
      <a href={page.url.next} rel="next">
        Next Page →
      </a>
    )}
  </div>
</footer>
</Base>
<style>
  footer{
    padding-block: 1lh;
  }
  .prev-next{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: var(--font-size, clamp(.9rem, .6cqw, 1rem));
  }
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .page-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  p{
    padding-block: 1lh;
  }
</style>