
---
import { getCollection, getEntries, type CollectionEntry} from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Paginator from "@components/paginator.astro";
import type { GetStaticPaths, Page } from 'astro';
import { getUniqueObjectsByKey } from "@utils/getUniqueObjectsByKey";
import Note from "@components/note.astro";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

export const getStaticPaths:GetStaticPaths=async({paginate}) =>{
    const publishedNotesEntries = await getCollection("notes", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });
    publishedNotesEntries.sort(function (a, b) {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });
 
    return paginate(publishedNotesEntries, {pageSize:4});
}
type Props = {
  page: Page<CollectionEntry<'notes'>>;
};
const { page } = Astro.props as Props;

const authors = getUniqueObjectsByKey(page.data.map((entry) => {
    return entry.data.author;
}),"slug");

const authorsData=await getEntries(authors);

let canonical
if (page.currentPage===1){
    canonical=`/notebook/`;
}
const langToTranslate = getLangFromUrl(Astro.url)==="en"?"es":"en";
const {translatePath} = useTranslatedPath(langToTranslate);
const translateActualPath=translatePath('notebook',langToTranslate);
---
<Layout title="My Notebook" canonical={canonical} translateActualPath={translateActualPath}>
    <Container>
        <Sectionhead>
            <Fragment slot="title">My Notebook</Fragment>
            <Fragment slot="desc">
                A notebook links for beginners to experts.
            </Fragment>
        </Sectionhead>
        <main class="mt-16">
            <ul class="grid gap-16 max-w-4xl mx-auto">
                {
                    page.data.map((noteEntry, index) => (
                        <Note 
                        link={`/notebook/${noteEntry.id}`}
                        imageSrc={noteEntry.data.image.src} 
                        imageAlt={noteEntry.data.image.alt}
                        category={noteEntry.data.category}
                        title={noteEntry.data.title}
                        authorAlias={authorsData.find((author)=>author.slug===noteEntry.data.author.slug)?.data.alias}
                        publishDate={noteEntry.data.publishDate}
                        resume={noteEntry.data.resume}
                        slug={noteEntry.id}
                        index={index}
                        tags={noteEntry.data.tags}
                        tagsBase="/notebook/tag"
                        hideTags={false}
                        authorLink={`/team/${noteEntry.data.author.slug}`}
                        localization={{
                            lang:"en-EN",
                            options:{
                                month:'long',
                                day:'numeric',
                                year:'numeric'
                            }
                        }}
                        />
    
    ))
}
</ul>
<Paginator page={page}></Paginator>
</main>
</Container>
</Layout>
