---
import { getCollection, render } from "astro:content";
import NoteTemplate from "@templates/Note.astro";
import "@global-styles/md.css";
import { cloudinarySrc } from "@helpers/cloudinary";

export async function getStaticPaths() {
	const pages = await getCollection("notes");
	return pages.map((page) => ({
		params: { note: page.id },
		props: { page },
	}));
}

const { page } = Astro.props;
const { Content } = await render(page);
const {
	draft,
	title,
	resume,
	image,
	publishDate,
} = page.data;
const imgSrc = image
	? cloudinarySrc("notebook-posts/" + image.src, {
			width: 500,
		})
	: image;
const imageName = `${page.id}-latest`;
---
<NoteTemplate
  description={resume}
  draft={draft}
  title={title}
  image={image.src}
  publishedAt={publishDate}
>
<figure>
<img src={imgSrc} alt={image.alt}>
<figcaption>{image.alt}</figcaption>
</figure>
<h1>{title}</h1>
<Content/>
</NoteTemplate>
<style define:vars={{imageName}}>
  figure{
    text-align: center;
    padding-top: 1lh;
    img{
      margin: auto;
      border-radius: 10px;
      view-transition-name: var(--imageName);
    }
  }
</style>