---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Paginator from "@components/paginator.astro";
import CloudinaryImage from "@components/ui/cloudinaryImage.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedNotesEntries = await getCollection("notes", ({ data }) => {
    const isDraft= import.meta.env.PROD ? data.draft === true : false;
    console.log("isDraft",isDraft);
    return !isDraft && data.publishDate < new Date()
});


// Sort content entries by publication date
publishedNotesEntries.sort(function (a, b) {
    return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
    <Container>
        <Sectionhead>
            <Fragment slot="title">My Notebook</Fragment>
            <Fragment slot="desc">
                A notebook links for beginners to experts.
            </Fragment>
        </Sectionhead>
        <main class="mt-16">
            <ul class="grid gap-16 max-w-4xl mx-auto">
                {
                    publishedNotesEntries.slice(0,4).map((noteEntry, index) => (
                    <li>
                        <a href={`/notebook/${noteEntry.slug}`}>
                            <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                                <CloudinaryImage
                                src={`notebook-posts/${noteEntry.data.image.src}`}
                                alt={noteEntry.data.image.alt}
                                aspectRatio="1"
                                loading={index <= 2 ? "eager" : "lazy"}
                                decoding={index <= 2 ? "sync" : "async"}
                                transition:name=`${noteEntry.id} img`
                                class="w-full rounded-md object-cover object-center bg-white"
                                />
                                <div>
                                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium"
                                    transition:name=`${noteEntry.id} category`
                                    >
                                    {noteEntry.data.category}
                                </span>
                                {noteEntry.data.draft&&<span class=" text-red-950 uppercase tracking-wider text-sm font-medium bg-red-200 px-4 py-2 rounded-full hover:bg-red-900 hover:text-red-200"
                                    >
                                    #Draft
                                </span>}
                                
                                <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 "
                                transition:name=`${noteEntry.id} title`
                                >
                                {noteEntry.data.title}
                            </h2>
                            
                            <div class="flex gap-2 mt-3"
                            transition:name=`${noteEntry.id} meta`>
                            <span class="text-gray-400">
                                {noteEntry.data.author}
                            </span>
                            <span class="text-gray-400">• </span>
                            <time
                            class="text-gray-400"
                            datetime={noteEntry.data.publishDate.toISOString()}>
                            {noteEntry.data.publishDate.toDateString()}
                        </time>
                    </div>
                    <p class="text-slate-500"
                        transition:name=`${noteEntry.id} snippet`
                    >
                        {noteEntry.data.snippet}
                    </p>
                </div>
            </div>
        </a>
    </li>
    ))
}
</ul>
<Paginator page={
    {
        url:{
            current: "/notebook/1",
            prev: "",
            next: "/notebook/2"
        }
    }
}></Paginator>
</main>
</Container>
</Layout>