---
import { getCollection, getEntry, getEntryBySlug, type CollectionEntry} from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Paginator from "@components/paginator.astro";
import type { GetStaticPaths, Page } from 'astro';
import CloudinaryImage from "@components/ui/cloudinaryImage.astro";

export const getStaticPaths:GetStaticPaths=async({paginate}) =>{
    const publishedNotesEntries = await getCollection("notes", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });
    publishedNotesEntries.sort(function (a, b) {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });
    for (const entry of publishedNotesEntries) {
        const author = await getEntry("team",entry.data.author.slug);
        entry.author=author;
    }
    return paginate(publishedNotesEntries, {pageSize:4});
}
type Props = {
  page: Page<CollectionEntry<'notes'>>;
};
const { page } = Astro.props;


let canonical
if (page.currentPage===1){
    canonical=`/notebook/`;
}
---
<Layout title="Cuaderno" canonical={canonical}>
    <Container>
        <Sectionhead>
            <Fragment slot="title">Mi Cuaderno</Fragment>
            <Fragment slot="desc">
                Fragmentos de mi cuaderno de notas web.
            </Fragment>
        </Sectionhead>
        <main class="mt-16">
            <ul class="grid gap-16 max-w-4xl mx-auto">
                {
                    page.data.map((noteEntry, index) => (
                    <li>
                        <a href={`/notebook/${noteEntry.slug}`}>
                            <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                                <CloudinaryImage
                                src={`notebook-posts/${noteEntry.data.image.src}`}
                                
                                alt={noteEntry.data.image.alt}
                                aspectRatio="1"
                                loading={index <= 2 ? "eager" : "lazy"}
                                decoding={index <= 2 ? "sync" : "async"}
                                transition:name=`${noteEntry.id} img`
                                class="w-full rounded-md object-cover object-center bg-white aspect-square"
                                />
                                <div>
                                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium"
                                    transition:name=`${noteEntry.id} category`
                                    >
                                    {noteEntry.data.category}
                                </span>
                                
                                <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 "
                                transition:name=`${noteEntry.id} title`
                                >
                                {noteEntry.data.title}
                            </h2>
                            
                            <div class="flex gap-2 mt-3"
                            transition:name=`${noteEntry.id} meta`>
                            <a class="text-gray-400" href={`team/${noteEntry.author.slug}`}>
                                {noteEntry.author.data.alias}
                            </a>
                            <span class="text-gray-400">• </span>
                            <time
                            class="text-gray-400"
                            datetime={noteEntry.data.publishDate.toISOString()}>
                            {noteEntry.data.publishDate.toDateString()}
                        </time>
                        

                    </div>
                    <p class="text-slate-500">
                        {noteEntry.data.resume}
                    </p>
                    
                </div>
            </div>
        </a>
    </li>
    ))
}
</ul>
<Paginator page={page}></Paginator>
</main>
</Container>
</Layout>
