---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import Head from "./Head.astro";
import DebuggerTagManager from "@components/debuggerTagManager.astro";
import LogoNavigation from "@components/navbar/logo-navigation.astro";

export interface Props {
  lang?: string;
  translateActualPath?: string;
  title?: string;
  canonical?: string;
  image?: string;
  description?: string;
  article?:{
    title?: string;
    publishedTime?: Date;
    modifiedTime?: Date;
    expirationTime?: string;
    authors?: string[];
    section?: string;
    tags?: string[];
    imageSrc:string;
    
  }
  job?:{
  }
}
const version="v2";
const { title, description,image, article,translateActualPath,lang="en" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <Head image={image} description={description} title={title} article={article}  version={version}/>
  <body>
    <DebuggerTagManager />
    <Navbar translateActualPath={translateActualPath}/>
    <slot />
    <Footer />
    <style is:global>
      @view-transition {
        navigation: auto;
      }
      *{
        box-sizing: border-box;
      }
      img {
        content-visibility: auto;
      }
      h1,h2,h3,h4,h5,h6 {
        text-wrap: balance;
      }
      p,span,div,li,a {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
