---
import { SEO, type Props as SEOProps } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { cloudinarySrc } from "@utils/cludinarySrc";
import  SpeedInsights  from "@vercel/speed-insights/astro"
import HeadTagManager from "@components/headTagManager.astro";
import DebuggerTagManager from "@components/debuggerTagManager.astro";

export interface Props {
  lang?: string;
  title?: string;
  canonical?: string;
  image?: string;
  description?: string;
  article?:{
    title?: string;
    publishedTime?: Date;
    modifiedTime?: Date;
    expirationTime?: string;
    authors?: string[];
    section?: string;
    tags?: string[];
    imageSrc:string;

  }
  job?:{
  }
}
const date=new Date().getMilliseconds();
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
"/Innovation-amico.png",
Astro.site
).toString();

const { title, description,image, article,canonical,lang="en" } = Astro.props;
const imgSrc=(!image?.startsWith('http'))?cloudinarySrc('notebook-posts/'+  image):resolvedImageWithDomain;
const makeDescription= description ?? "A seasoned solution architect sharing practical web development insights and solutions for developers from beginners to experts.";
const seoProps:SEOProps={
  title,
  description: makeDescription,
  titleTemplate:"%s | Giorgiosaud.io",
  titleDefault:"My personal Website",
  charset:"UTF-8",
  canonical:canonicalURL,
  twitter:{
    creator: "@giorgiosaud",
    title: title?title+' - Giorgio Notebook':'Giorgiosaud.io - Giorgio Notebook',
    description: makeDescription,
    site: "https://giorgiosaud.io",
    card: "summary_large_image",
    image: imgSrc,
  },
  openGraph: {
    basic:{
      url: canonicalURL,
      type: "website",
      title: `Giorgiosaud.io - Giorgio Notebook`,
      image: image??resolvedImageWithDomain,
    },
    image: {
      alt: title??"Giorgiosaud.io",
    },
    optional: {
      description: description??"my Notebook",
      locale: "en_US",
      siteName: "Giorigosaud Notebook",
    },
  }
}
const schema={
      "@context": "https://schema.org/",
      "@type": "NewsArticle",
      "headline":'',
      "image": {
        "@type": "ImageObject",
        "url": "",
        "width": "430",
        "height": "240"
      },
      "author": {
        "@type": "Person",
        "name": "Giorgio Saud",
        "url": "https://giorgiosaud.io/about/"
        
      },
      
      "publisher": {
        "@type": "Organization",
        "name": "Personal Website",
        "logo": {
          "@type": "ImageObject",
          "url": "https://res.cloudinary.com/giorgiosaud/image/upload/f_auto/q_auto/c_auto,h_400,w_300/e_bgremoval/c_auto,g_auto,h_280/ar_1.0,c_auto,g_auto/My%20photo?_a=DATAdtIIZAA0",
          "width": "280",
          "height": "280"
        }
      },
      "datePublished": new Date(),
      "dateModified": new Date(),
    }
if(article){
  schema.headline=article.title??'';
  schema.image.url=article.imageSrc??'';
  schema.datePublished=article.publishedTime??new Date();
  schema.dateModified=article.modifiedTime??new Date();
  seoProps.openGraph!.basic={
    ...seoProps.openGraph!.basic,
    type: "blog",
    title: `Giorgiosaud.io - ${article.title}`,
    image: imgSrc,
  },
  seoProps.openGraph!.article={
    publishedTime: article.publishedTime?.toISOString().substring(0,10),
    modifiedTime: article.modifiedTime?.toISOString().substring(0,10),
    section: article.section,
    tags: article.tags,
  }
}
---

<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8" />
  <HeadTagManager/>
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href={`/manifest.json?v=${date}`}>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="author" content="Jorge Saud">
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta name="generator" content={Astro.generator} />
  <script type="json/speculationrules">
    {
      "prerender": [{
        "source": "document",
        "where": {
          "and": [
            { "href_matches": "/*" },
            { "not": {"href_matches": "/logout/*"}}
          ]
        },
        "eagerness": "moderate"
      }]
    }
  </script>
  <SEO
  title={title}
  titleTemplate="%s | Giorgiosaud.io"
  titleDefault="My personal Website"
  charset="UTF-8"
  description={makeDescription}
  canonical={canonicalURL}
  {...seoProps}
  />
  {
  article&&
  <script type="application/ld+json" set:html={JSON.stringify(schema)}></script>
}

</head>
<body>
  <DebuggerTagManager/>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      @view-transition {
        navigation: auto;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
  </html>
  